* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-collapse .navbar-nav li {
  font-size: 1.5rem;
}

.navbar .container .navbar-brand {
  font-size: 2rem;
}

.navbar .container .navbar-brand img {
  transform: translateY(-10%);
}

.main-header p {
  font-size: 1.2rem;
}

.main-header i {
  font-size: 0.7rem;
  transform: translateY(-20%);
}

.main-header {
  background: url("../img/cinema-bg.jpg");
  background-position: center;
  background-size: cover;
}

.main-header .container h2,
.main-header .container p {
  width: 500px;
}

.card {
  height: 400px;
  border-radius: 25px;
  max-width: 300px;
  margin: auto;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

@media (max-width: 556px) {
  .main-header .container h2,
  .main-header .container p {
    width: 100%;
  }
}

.fa-x-twitter {
  color: black;
}

.fa-instagram {
  color: #c13584;
}

.fa-facebook {
  color: #4267b2;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.filter-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
}

.movie-card {
  background-color: #343a40;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movie-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.movie-card-body {
  flex-grow: 1;
  padding: 15px;
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
}

.movie-description {
  font-size: 14px;
  margin-top: 10px;
}

.movie-card button {
  margin-top: auto;
}

a {
  text-decoration: none;
}

.contact-info {
  font-size: 18px;
}

.contact-info i {
  color: #007bff;
  margin-right: 10px;
}

.contact-form input, .contact-form textarea {
  border-radius: 0.25rem;
}

.map {
  width: 100%;
  height: 400px;
  border: 0;
}